PORT=5000
# MONGO_URI=mongodb+srv://ricky19025:PVp8tvjZiDBJsgPb@cluster0.opc0e.mongodb.net/items?retryWrites=true&w=majority&appName=Cluster0
MONGO_URI=APIKEY

# UPSTASH_REDIS_URL= rediss://default:AVqkAAIjcDFkMzdjYTZkZjRiYTY0MGU5YWIwM2U4YmVjMjFhNjk2N3AxMA@normal-moose-23204.upstash.io:6379
UPSTASH_REDIS_URL= APIKEY

ACCESS_TOKEN_SECRET=access_token_secret
REFRESH_TOKEN_SECRET=refresh_token_secret

CLOUDINARY_CLOUD_NAME=NAME
CLOUDINARY_API_KEY=APIKEY
CLOUDINARY_API_SECRET=SECRERT

STRIPE_SECRET_KEY=STRIPE_SECRET_KEY

CLIENT_URL=http://localhost:5173


NODE_ENV=development

sudo chmod 600 /etc/queen-shop.env
sudo chown ubuntu:ubuntu /etc/queen-shop.env